@use '../styles/mixins' as mixins;

* {
    box-sizing: border-box;
}
@keyframes hero-gradient-animation {
    0% {
        --x-0: 14%;
        --c-0: hsla(207, 70%, 100%, 1);
        --y-0: 8%;
        --s-start-0: 19%;
        --s-end-0: 54%;
        --s-start-1: 6%;
        --s-end-1: 81%;
        --x-1: 38%;
        --y-1: 34%;
        --c-1: hsla(356, 78%, 92%, 1);
        --y-2: 0%;
        --x-2: 52%;
        --c-2: hsla(272, 95%, 62%, 1);
        --s-start-2: 18%;
        --s-end-2: 66%;
        --x-3: 38%;
        --s-start-3: 8%;
        --s-end-3: 80%;
        --c-3: hsla(334, 73%, 51%, 1);
        --y-3: 3%;
        --c-4: hsla(356, 51%, 81%, 1);
        --x-4: 42%;
        --y-4: 65%;
        --s-start-4: 1%;
        --s-end-4: 56%;
    }

    100% {
        --x-0: 94%;
        --c-0: hsla(291, 55%, 81%, 1);
        --y-0: 53%;
        --s-start-0: 12%;
        --s-end-0: 67%;
        --s-start-1: 12%;
        --s-end-1: 88%;
        --x-1: 45%;
        --y-1: 7%;
        --c-1: hsla(203, 65%, 85%, 1);
        --y-2: 95%;
        --x-2: 4%;
        --c-2: hsla(227, 100%, 94%, 1);
        --s-start-2: 6%;
        --s-end-2: 88%;
        --x-3: 86%;
        --s-start-3: 6%;
        --s-end-3: 69%;
        --c-3: hsla(273, 62%, 63%, 1);
        --y-3: 44%;
        --c-4: hsla(226, 78%, 73%, 1);
        --x-4: 3%;
        --y-4: 13%;
        --s-start-4: 2%;
        --s-end-4: 68%;
    }
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(207, 70%, 100%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 6%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 81%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 38%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 34%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(356, 78%, 92%, 1)
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(272, 95%, 62%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 18%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 66%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 38%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(334, 73%, 51%, 1)
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(356, 51%, 81%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 42%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 65%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 56%
}

body {
    --x-0: 14%;
    --c-0: hsla(207, 70%, 100%, 1);
    --y-0: 8%;
    --x-1: 38%;
    --y-1: 34%;
    --c-1: hsla(356, 78%, 92%, 1);
    --y-2: 0%;
    --x-2: 52%;
    --c-2: hsla(272, 95%, 62%, 1);
    --x-3: 38%;
    --c-3: hsla(334, 73%, 51%, 1);
    --y-3: 3%;
    --c-4: hsla(356, 51%, 81%, 1);
    --x-4: 42%;
    --y-4: 65%;
    ;
    background-color: hsla(217, 86%, 67%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
main,
div,
span,
a,
footer,
header,
dd,
dt,
dl,
ol,
ul,
li,
table,
article,
aside,
span,
form,
th,
tr,
td,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.default-button {
    @include mixins.default-button-props();
    width: 150px;
    padding: 8px 10px;
}

.default-close-button {
    @include mixins.default-button-props();
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 4px;
}

.default-block-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    background: linear-gradient(135deg, #6dcff6, #ff7bbf);
    box-shadow: 0 0 8px rgba(26, 21, 24, 0.5), 0 0 15px rgba(120, 200, 255, 0.4);
    border: none;
    transition: all 0.3s ease;

    &.filters {
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 12px rgba(219, 221, 231, 0.7), 0 0 20px rgba(130, 210, 255, 0.6);
    }

    &:active {
        transform: scale(0.97);
    }
}