@use '../styles/mixins' as mixins;

* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
main,
div,
span,
a,
footer,
header,
dd,
dt,
dl,
ol,
ul,
li,
table,
article,
aside,
span,
form,
th,
tr,
td,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {}

.default-button {
    @include mixins.default-button-props();
    width: 150px;
    padding: 8px 10px;
}

.default-close-button {
    @include mixins.default-button-props();
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 4px;
}

.default-block-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    background: linear-gradient(135deg, #6dcff6, #ff7bbf);
    box-shadow: 0 0 8px rgba(26, 21, 24, 0.5), 0 0 15px rgba(120, 200, 255, 0.4);
    border: none;
    transition: all 0.3s ease;

    &.filters {
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 12px rgba(219, 221, 231, 0.7), 0 0 20px rgba(130, 210, 255, 0.6);
    }

    &:active {
        transform: scale(0.97);
    }
}